/* @tailwind base; */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

/* .open-sans-taskility {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

body {
  font-family: 'Open Sans', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
}

@import './app-logo.css';
@import './auth-form.css';
@import './button.css';

/* .ant-layout-header {
  @apply bg-primary; 

  background-image: radial-gradient(954.17px at 57.25% 271.25%, rgb(0, 133, 255) 0%, rgb(0, 62, 182) 100%);
  background: rgb(0, 133, 255);
  background: linear-gradient(90deg, rgba(0, 133, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
  padding: 0px 16px 0px 16px;
} */

.global-search-input {
  width: 256px;
}

/* START ### INVOICE CARD BUSINESS PILLS CAROUSEL */
.ant-carousel {
  @apply h-32 w-full;
}
.ant-carousel .slick-slide {
  @apply h-32 text-center overflow-hidden;
}
.ant-carousel .slick-dots.slick-dots-bottom {
  @apply mb-0;
}
.ant-carousel .slick-slider ul.slick-dots li button {
  @apply bg-shadow;
}
.ant-carousel .slick-slider ul.slick-dots li.slick-active button {
  @apply bg-primary;
}
/* END ### INVOICE CARD BUSINESS PILLS CAROUSEL */

.invoice-card .ant-card-body {
  @apply p-0;
}
.invoice-card-details .ant-statistic {
  @apply m-2;
}
.invoice-card-details .ant-statistic-content {
  @apply text-base;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #0085ff;
  background: linear-gradient(90deg, rgba(0, 133, 255, 1) 0%, rgba(0, 133, 255, 1) 100%);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #0085ff;
  background: linear-gradient(90deg, rgba(0, 133, 255, 1) 0%, rgba(0, 133, 255, 1) 100%);
}

@keyframes gradientLine {
  0% {
    height: 0;
    opacity: 0;
    top: -10%;
  }

  10% {
    opacity: 1;
  }
  20% {
    height: 105px;
  }
  95% {
    height: 0;
    opacity: 0;
    top: 100%;
  }
}

.line-gradient {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(236, 237, 240, 0), rgb(236, 237, 240) 19.27%, rgb(236, 237, 240) 79.17%, rgba(236, 237, 240, 0));
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(211, 216, 223);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgb(211, 216, 223);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(211, 216, 223);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(211, 216, 223);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-feature-settings: 'ss01', 'zero';
  font-variation-settings: normal;
  height: 1341.19px;
  line-height: 24px;
  outline-color: rgb(38, 109, 240);
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  scroll-margin-bottom: 24px;
  scroll-margin-top: 96px;
  scrollbar-color: auto;
  scrollbar-width: auto;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 1px;
  -webkit-font-smoothing: antialiased;
}

.line-gradient:before {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: gradientLine;
  animation-timing-function: ease;
  background: linear-gradient(180deg, #dde9ff, #266df0 86.46%, #dde9ff);
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  top: -10%;
  width: 1px;
}
.card-light-shadow {
  box-shadow: 0 0 0 0.5px #e4e5e9, 0 0 0 1px #e4e5e999, 0 0 0 3.5px #f9f9fb, 0 0 0 4px #f3f4f7;
}

/* @import '~antd/dist/antd.css'; */

@tailwind utilities;
